<div xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="header">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>&nbsp;</td>
                <td class="align-center">
                    <div class="header">
                        <div class="content">
                            <a target="_blank">
                                <img th:src="${APP_URL + '/assets/mail/img/logo.png'}" alt=""/>
                            </a>
                        </div>
                    </div>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </th:block>
</div>
